{% block ddd_symfony_autocomplete_row %}
	<div class="mb-3 field">
		{{ form_label(form) }}

		<div
			data-controller="alexandrebulete--ddd-symfony-bundle--autocomplete" 
            data-alexandrebulete--ddd-symfony-bundle--autocomplete-url-value="{{ form.vars.remote_url }}" 
            data-alexandrebulete--ddd-symfony-bundle--autocomplete-placeholder-value="{{ form.vars.placeholder }}" 
            data-alexandrebulete--ddd-symfony-bundle--autocomplete-min-length-value="{{ form.vars.min_length }}" 
            data-alexandrebulete--ddd-symfony-bundle--autocomplete-limit-value="{{ form.vars.limit }}" 
            data-alexandrebulete--ddd-symfony-bundle--autocomplete-initial-text-value="{{ form.vars.initial_text ?? '' }}"
            {% if form.vars.initial_icon %}data-alexandrebulete--ddd-symfony-bundle--autocomplete-initial-icon-value="{{ form.vars.initial_icon }}"{% endif %}
            data-alexandrebulete--ddd-symfony-bundle--autocomplete-initial-icon-width-value="{{ form.vars.initial_icon_width }}"
            data-alexandrebulete--ddd-symfony-bundle--autocomplete-initial-icon-height-value="{{ form.vars.initial_icon_height }}">
			{{ form_widget(form) }}

			<select class="form-select" 
                data-alexandrebulete--ddd-symfony-bundle--autocomplete-target="select" {% if form.vars.required %} 
                required {% endif %}
            ></select>
		</div>

		{{ form_help(form) }}
		{{ form_errors(form) }}
	</div>
{% endblock %}
